# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
README-template.md
README.md
style-guide.md
design/active-states-basket-empty.jpg
design/active-states-basket-filled.jpg
design/active-states-lightbox.jpg
design/desktop-design-lightbox.jpg
design/desktop-design.jpg
design/desktop-preview.jpg
design/mobile-design-basket-empty.jpg
design/mobile-design-basket-filled.jpg
design/mobile-design.jpg
design/mobile-menu.jpg
images/favicon-32x32.png
images/icon-cart.svg
images/icon-close.svg
images/icon-delete.svg
images/icon-menu.svg
images/icon-minus.svg
images/icon-next.svg
images/icon-plus.svg
images/icon-previous.svg
images/image-avatar.png
images/image-product-1-thumbnail.jpg
images/image-product-1.jpg
images/image-product-2-thumbnail.jpg
images/image-product-2.jpg
images/image-product-3-thumbnail.jpg
images/image-product-3.jpg
images/image-product-4-thumbnail.jpg
images/image-product-4.jpg
images/logo.svg
public/index.html
public/images/favicon-32x32.png
public/images/icon-cart.svg
public/images/icon-close.svg
public/images/icon-delete.svg
public/images/icon-menu.svg
public/images/icon-minus.svg
public/images/icon-next.svg
public/images/icon-plus.svg
public/images/icon-previous.svg
public/images/image-avatar.png
public/images/image-product-1-thumbnail.jpg
public/images/image-product-1.jpg
public/images/image-product-2-thumbnail.jpg
public/images/image-product-2.jpg
public/images/image-product-3-thumbnail.jpg
public/images/image-product-3.jpg
public/images/image-product-4-thumbnail.jpg
public/images/image-product-4.jpg
public/images/logo.svg
src/images/favicon-32x32.png
src/images/icon-cart.svg
src/images/icon-close.svg
src/images/icon-delete.svg
src/images/icon-menu.svg
src/images/icon-minus.svg
src/images/icon-next.svg
src/images/icon-plus.svg
src/images/icon-previous.svg
src/images/image-avatar.png
src/images/image-product-1-thumbnail.jpg
src/images/image-product-1.jpg
src/images/image-product-2-thumbnail.jpg
src/images/image-product-2.jpg
src/images/image-product-3-thumbnail.jpg
src/images/image-product-3.jpg
src/images/image-product-4-thumbnail.jpg
src/images/image-product-4.jpg
src/images/logo.svg
