.inactive {
    width: 0;
    max-height: 0;
    opacity: 0;
}

.inactive * {
    display: none;
}

.active {
    width: min(90%, 500px);
    max-height: 1000px;
    opacity: 1;
}

.CartMenu {
    transition: width ease-in-out 500ms, max-height ease-in-out 750ms, opacity ease-in-out 500ms;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 45px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    outline: 1px solid hsl(0, 0%, 70%);
    box-shadow: 0px 0px 20px hsl(0, 0%, 20%);
    border-radius: 7px;
    padding: 2rem;
    overflow: hidden;
    text-align: left;
}

@media screen and (min-width: 900px) {
    .CartMenu {
        top: 80px;
        left: initial;
        right: 10px;
        margin: 0;
    }
}

.cart-menu-title {
    border-bottom: 1px solid black;
}

.active .cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 1em;
}

.cart-items-list > p {
    color: grey;
    text-align: center;
    font-weight: 700;
}

.active .cart-items-list > li {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.active .cart-item__details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item__image > img {
    border-radius: 10px;
    width: 100px;
}

.active .cart-item__pricing {
    display: flex;
    justify-content: space-between;
}

.cart-item__total-price {
    font-weight: 700;
}

.active .cart-item__delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item__delete > img {
    max-width: 40px;
    max-width: 40px;
}

.active .cart-menu-checkout {
    background-color: hsl(25, 100%, 50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}