.CartMenu {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 1;
    top: 80px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    outline: 1px solid hsl(0, 0%, 70%);
    box-shadow: 0px 0px 20px hsl(0, 0%, 20%);
    border-radius: 7px;
    padding: 2rem;
    text-align: left;
}

.cart-menu-title {
    border-bottom: 1px solid black;
}

.cart-items-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 1em;
}

.cart-items-list > p {
    color: grey;
    text-align: center;
    font-weight: 700;
}

.cart-items-list > li {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.cart-item__details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item__image > img {
    border-radius: 10px;
    width: 100px;
}

.cart-item__pricing {
    display: flex;
    justify-content: space-between;
}

.cart-item__total-price {
    font-weight: 700;
}

.cart-item__delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item__delete > img {
    max-width: 40px;
    max-width: 40px;
}

.cart-menu-checkout {
    background-color: hsl(25, 100%, 50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 10px;
}