.Gallery {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

@media screen and (min-width: 1440px) {
    .Gallery {
        gap: 50px;
        padding: 0rem 3rem;
    }
}

.Gallery__selected-image {
    position: relative;
    min-height: 265px;
}

.Gallery__selected-image > img, .LightboxGallery__selected-image > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity ease-in-out 750ms;
}

.Gallery__selected-image > img {
    max-height: 265px;
}

.Gallery__selected-image > img:not(.show-selected), .LightboxGallery__selected-image > img:not(.show-selected) {
    opacity: 0;
}

@media screen and (min-width: 1440px) {
    .Gallery__selected-image {
        min-height: 500px;
        cursor: pointer;
    }
    .Gallery__selected-image > img {
        max-height: 500px;
    }
}

.Gallery__selector-arrow-left, .Gallery__selector-arrow-right, .LightboxGallery__selector-arrow-left, .LightboxGallery__selector-arrow-right {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Gallery__selector-arrow-left, .Gallery__selector-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.Gallery__selector-arrow-left {
    left: 25px;
}

.Gallery__selector-arrow-right {
    right: 25px;
}

.hidden-arrow {
    display: none;
}

@media screen and (min-width: 1440px) {
    .Gallery__selector-arrow-left, .Gallery__selector-arrow-right {
        display: none;
    }
}

.Gallery__selector-wrapper {
    display: none;
}

.Gallery__selected-image, .Gallery__selector, .selected, .LightboxGallery__selected-image, .LightboxGallery__selector {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .Gallery__selector-wrapper {
        display: flex;
    }
    .Gallery__selector-container {
        flex-grow: 1;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .Gallery__selector-container .selected, .LightboxGallery__selector-container .selected {
        outline: 5px solid hsl(30, 100%, 50%);
    }
    .Gallery__selector-container .selected > img {
        opacity: 0.7;
    }
    .Gallery__selector, .LightboxGallery__selector {
        cursor: pointer;
    }
    .Gallery__selector:hover, .LightboxGallery__selector:hover {
        opacity: 0.7;
    }
    .Gallery__selector > img, .LightboxGallery__selector > img {
        transition: opacity ease-in-out 750ms;
    }
}